In [1]:
import findspark 
findspark.init() 
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName("ETL pipeline")\
        .config("spark.sql.warehouse.dir", "../spark-warehouse")\
        .config('spark.driver.extraJavaOptions',f'-Dderby.system.home=../spark-warehouse/catalog')\
        .config("spark.io.encryption.enabled",True)\
        .config('spark.acls.enable',True)\
        .enableHiveSupport().getOrCreate()
spark

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/01/10 22:27:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/01/10 22:27:44 WARN SparkEnv: I/O encryption enabled without RPC encryption: keys will be visible on the wire.

Tests to check if data & metadata stored correctly in storage

In [2]:
## list of all tables stored in spark-warehouse 
spark.catalog.listTables()

22/01/10 22:28:05 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
22/01/10 22:28:05 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist
22/01/10 22:28:23 WARN ObjectStore: Version information not found in metastore. hive.metastore.schema.verification is not enabled so recording the schema version 2.3.0
22/01/10 22:28:23 WARN ObjectStore: setMetaStoreSchemaVersion called but recording version is disabled: version = 2.3.0, comment = Set by MetaStore santiago@192.168.0.12
22/01/10 22:28:24 WARN ObjectStore: Failed to get database global_temp, returning NoSuchObjectException

[Table(name='restaurant', database='default', description=None, tableType='MANAGED', isTemporary=False)]

In [3]:
## restaurants data
spark.sql('select * from restaurant limit 20').show()

+--------------------+--------------------+-------+-----------+--------------+------------+-------------+-------------------+-----------------+--------------+--------------+----------------+
|                  id|          created_at|enabled|price_range|average_ticket|takeout_time|delivery_time|minimum_order_value|merchant_zip_code| merchant_city|merchant_state|merchant_country|
+--------------------+--------------------+-------+-----------+--------------+------------+-------------+-------------------+-----------------+--------------+--------------+----------------+
|02c94103-61f3-490...|2017-01-23 07:52:...|  false|          3|          60.0|           0|           50|               30.0|            14025|RIBEIRAO PRETO|            SP|              BR|
|15e7f5fd-090d-47b...|2017-01-20 08:14:...|   true|          3|          60.0|           0|            0|               30.0|            50180|     SAO PAULO|            SP|              BR|
|33ca5d3d-b99f-404...|2017-01-23 07:46:...|   true|          5|         100.0|           0|           45|               10.0|            23090|RIO DE JANEIRO|            RJ|              BR|
|4927035f-a343-4a6...|2017-01-20 08:15:...|   true|          3|          80.0|           0|            0|               18.9|            40255|      SALVADOR|            BA|              BR|
|52feaad8-4961-4af...|2017-01-20 08:14:...|   true|          3|          60.0|           0|            0|               25.0|            64600|       BARUERI|            SP|              BR|
|539cb925-52ad-462...|2017-01-23 07:36:...|  false|          1|          30.0|           0|           60|               10.0|            18030|      SOROCABA|            SP|              BR|
|5b6a43d0-8e25-4ad...|2017-01-23 07:40:...|  false|          1|          30.0|           0|           70|               11.0|            13208|       JUNDIAI|            SP|              BR|
|7a6348e5-748c-4d3...|2017-01-20 08:14:...|   true|          4|          80.0|           0|           30|               24.0|            34020|     SAO PAULO|            SP|              BR|
|8355199d-8a01-481...|2017-01-20 08:13:...|  false|          5|          81.0|          30|           15|               10.0|            45380|     SAO PAULO|            SP|              BR|
|85f2e1f2-101b-4b7...|2017-01-20 08:15:...|  false|          1|          30.0|           0|           30|                0.0|            60541|     FORTALEZA|            CE|              BR|
|889a435f-46f3-467...|2017-01-20 08:13:...|  false|          1|          30.0|           0|           40|                5.0|            20051|RIO DE JANEIRO|            RJ|              BR|
|947cd11a-20c9-49f...|2017-01-20 08:14:...|  false|          2|          40.0|           0|           45|               15.0|            45630|     SAO PAULO|            SP|              BR|
|97c713de-792e-47a...|2017-01-20 08:14:...|   true|          3|          80.0|           0|            0|               40.0|            91740|  PORTO ALEGRE|            RS|              BR|
|a14150aa-1891-403...|2017-01-23 07:51:...|  false|          1|          30.0|           0|           80|               30.0|            56650|     SAO PAULO|            SP|              BR|
|a25168e0-bbe4-487...|2017-01-20 08:14:...|   true|          3|          60.0|           0|           60|                0.0|            41515|      SALVADOR|            BA|              BR|
|a87f72fd-c9da-4ab...|2017-01-23 07:38:...|  false|          3|          60.0|           0|           50|               10.0|            50830|     SAO PAULO|            SP|              BR|
|b17782c4-d9c0-4ac...|2017-01-20 08:14:...|  false|          3|          60.0|           0|           50|               23.0|            88036| FLORIANOPOLIS|            SC|              BR|
|b2332fc0-dc4c-475...|2017-01-23 07:50:...|  false|          1|          30.0|           0|           50|                0.0|            54220|     SAO PAULO|            SP|              BR|
|ba52901e-dbf4-47c...|2017-01-20 08:15:...|   true|          4|          60.0|           0|            0|               33.0|            40310|      SALVADOR|            BA|              BR|
|c1b9cae1-8473-480...|2017-01-20 08:15:...|  false|          2|          40.0|           0|           35|                0.0|            63102|   CARAPICUIBA|            SP|              BR|
+--------------------+--------------------+-------+-----------+--------------+------------+-------------+-------------------+-----------------+--------------+--------------+----------------+

In [4]:
## restaurants metadata
spark.sql('describe formatted restaurant').show()

+--------------------+--------------------+-------+
|            col_name|           data_type|comment|
+--------------------+--------------------+-------+
|                  id|              string|   null|
|          created_at|           timestamp|   null|
|             enabled|             boolean|   null|
|         price_range|                 int|   null|
|      average_ticket|              double|   null|
|        takeout_time|                 int|   null|
|       delivery_time|                 int|   null|
| minimum_order_value|              double|   null|
|   merchant_zip_code|                 int|   null|
|       merchant_city|              string|   null|
|      merchant_state|              string|   null|
|    merchant_country|              string|   null|
|                    |                    |       |
|# Detailed Table ...|                    |       |
|            Database|             default|       |
|               Table|          restaurant|       |
|               Owner|            santiago|       |
|        Created Time|Mon Jan 10 22:23:...|       |
|         Last Access|             UNKNOWN|       |
|          Created By|         Spark 3.2.0|       |
+--------------------+--------------------+-------+
only showing top 20 rows

In [ ]:
## restaurants data
spark.sql('select * from restaurant limit 20').show()

In [ ]:
## consumers metadata
spark.sql('describe formatted consumer').show()

In [ ]:
## consumers data
spark.sql('select * from consumer limit 20').show()

In [ ]:
## orders metadata
spark.sql('describe formatted order').show()

In [ ]:
## orders data

spark.sql('select * from order limit 20').show()